<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>.null</key>
    <string>_null.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>_4</key>
    <string>_4.glif</string>
    <key>behinitialarabic</key>
    <string>behinitialarabic.glif</string>
    <key>tehinitialarabic</key>
    <string>tehinitialarabic.glif</string>
    <key>thehinitialarabic</key>
    <string>thehinitialarabic.glif</string>
    <key>jeeminitialarabic</key>
    <string>jeeminitialarabic.glif</string>
    <key>hahinitialarabic</key>
    <string>hahinitialarabic.glif</string>
    <key>khahinitialarabic</key>
    <string>khahinitialarabic.glif</string>
    <key>seeninitialarabic</key>
    <string>seeninitialarabic.glif</string>
    <key>sheeninitialarabic</key>
    <string>sheeninitialarabic.glif</string>
    <key>_13</key>
    <string>_13.glif</string>
    <key>tahinitialarabic</key>
    <string>tahinitialarabic.glif</string>
    <key>zahinitialarabic</key>
    <string>zahinitialarabic.glif</string>
    <key>aininitialarabic</key>
    <string>aininitialarabic.glif</string>
    <key>ghaininitialarabic</key>
    <string>ghaininitialarabic.glif</string>
    <key>fehinitialarabic</key>
    <string>fehinitialarabic.glif</string>
    <key>qafinitialarabic</key>
    <string>qafinitialarabic.glif</string>
    <key>kafinitialarabic</key>
    <string>kafinitialarabic.glif</string>
    <key>laminitialarabic</key>
    <string>laminitialarabic.glif</string>
    <key>meeminitialarabic</key>
    <string>meeminitialarabic.glif</string>
    <key>nooninitialarabic</key>
    <string>nooninitialarabic.glif</string>
    <key>hehinitialarabic</key>
    <string>hehinitialarabic.glif</string>
    <key>yehinitialarabic</key>
    <string>yehinitialarabic.glif</string>
    <key>yehhamzaabovemedialarabic</key>
    <string>yehhamzaabovemedialarabic.glif</string>
    <key>behmedialarabic</key>
    <string>behmedialarabic.glif</string>
    <key>tehmedialarabic</key>
    <string>tehmedialarabic.glif</string>
    <key>thehmedialarabic</key>
    <string>thehmedialarabic.glif</string>
    <key>jeemmedialarabic</key>
    <string>jeemmedialarabic.glif</string>
    <key>hahmedialarabic</key>
    <string>hahmedialarabic.glif</string>
    <key>khahmedialarabic</key>
    <string>khahmedialarabic.glif</string>
    <key>seenmedialarabic</key>
    <string>seenmedialarabic.glif</string>
    <key>shaddakasraarabic</key>
    <string>shaddakasraarabic.glif</string>
    <key>shaddakasratanarabic</key>
    <string>shaddakasratanarabic.glif</string>
    <key>kashidaautoarabic</key>
    <string>kashidaautoarabic.glif</string>
    <key>sheenmedialarabic</key>
    <string>sheenmedialarabic.glif</string>
    <key>sadmedialarabic</key>
    <string>sadmedialarabic.glif</string>
    <key>dadmedialarabic</key>
    <string>dadmedialarabic.glif</string>
    <key>tahmedialarabic</key>
    <string>tahmedialarabic.glif</string>
    <key>zahmedialarabic</key>
    <string>zahmedialarabic.glif</string>
    <key>ainmedialarabic</key>
    <string>ainmedialarabic.glif</string>
    <key>ghainmedialarabic</key>
    <string>ghainmedialarabic.glif</string>
    <key>fehmedialarabic</key>
    <string>fehmedialarabic.glif</string>
    <key>qafmedialarabic</key>
    <string>qafmedialarabic.glif</string>
    <key>kafmedialarabic</key>
    <string>kafmedialarabic.glif</string>
    <key>lammedialarabic</key>
    <string>lammedialarabic.glif</string>
    <key>meemmedialarabic</key>
    <string>meemmedialarabic.glif</string>
    <key>noonmedialarabic</key>
    <string>noonmedialarabic.glif</string>
    <key>hehmedialarabic</key>
    <string>hehmedialarabic.glif</string>
    <key>yehmedialarabic</key>
    <string>yehmedialarabic.glif</string>
    <key>alefmaddaabovefinalarabic</key>
    <string>alefmaddaabovefinalarabic.glif</string>
    <key>alefhamzaabovefinalarabic</key>
    <string>alefhamzaabovefinalarabic.glif</string>
    <key>wawhamzaabovefinalarabic</key>
    <string>wawhamzaabovefinalarabic.glif</string>
    <key>alefhamzabelowfinalarabic</key>
    <string>alefhamzabelowfinalarabic.glif</string>
    <key>yehhamzaabovefinalarabic</key>
    <string>yehhamzaabovefinalarabic.glif</string>
    <key>aleffinalarabic</key>
    <string>aleffinalarabic.glif</string>
    <key>behfinalarabic</key>
    <string>behfinalarabic.glif</string>
    <key>tehmarbutafinalarabic</key>
    <string>tehmarbutafinalarabic.glif</string>
    <key>tehfinalarabic</key>
    <string>tehfinalarabic.glif</string>
    <key>thehfinalarabic</key>
    <string>thehfinalarabic.glif</string>
    <key>jeemfinalarabic</key>
    <string>jeemfinalarabic.glif</string>
    <key>decimalseparatorarabic</key>
    <string>decimalseparatorarabic.glif</string>
    <key>thousandsseparatorarabic</key>
    <string>thousandsseparatorarabic.glif</string>
    <key>shaddafathaarabic</key>
    <string>shaddafathaarabic.glif</string>
    <key>shaddadammaarabicX</key>
    <string>shaddadammaarabicX_.glif</string>
    <key>lamalefhamzaaboveisolatedarabi</key>
    <string>lamalefhamzaaboveisolatedarabi.glif</string>
    <key>hahfinalarabic</key>
    <string>hahfinalarabic.glif</string>
    <key>khahfinalarabic</key>
    <string>khahfinalarabic.glif</string>
    <key>dalfinalarabic</key>
    <string>dalfinalarabic.glif</string>
    <key>thalfinalarabic</key>
    <string>thalfinalarabic.glif</string>
    <key>rehfinalarabic</key>
    <string>rehfinalarabic.glif</string>
    <key>zainfinalarabic</key>
    <string>zainfinalarabic.glif</string>
    <key>seenfinalarabic</key>
    <string>seenfinalarabic.glif</string>
    <key>sheenfinalarabic</key>
    <string>sheenfinalarabic.glif</string>
    <key>sadfinalarabic</key>
    <string>sadfinalarabic.glif</string>
    <key>dadfinalarabic</key>
    <string>dadfinalarabic.glif</string>
    <key>tahfinalarabic</key>
    <string>tahfinalarabic.glif</string>
    <key>zahfinalarabic</key>
    <string>zahfinalarabic.glif</string>
    <key>ainfinalarabic</key>
    <string>ainfinalarabic.glif</string>
    <key>ghainfinalarabic</key>
    <string>ghainfinalarabic.glif</string>
    <key>fehfinalarabic</key>
    <string>fehfinalarabic.glif</string>
    <key>qaffinalarabic</key>
    <string>qaffinalarabic.glif</string>
    <key>kaffinalarabic</key>
    <string>kaffinalarabic.glif</string>
    <key>lamfinalarabic</key>
    <string>lamfinalarabic.glif</string>
    <key>meemfinalarabic</key>
    <string>meemfinalarabic.glif</string>
    <key>noonfinalarabic</key>
    <string>noonfinalarabic.glif</string>
    <key>hehfinalarabic</key>
    <string>hehfinalarabic.glif</string>
    <key>wawfinalarabic</key>
    <string>wawfinalarabic.glif</string>
    <key>alefmaksurafinalarabic</key>
    <string>alefmaksurafinalarabic.glif</string>
    <key>yehfinalarabic</key>
    <string>yehfinalarabic.glif</string>
    <key>lamalefmaddaabovefinalarabic</key>
    <string>lamalefmaddaabovefinalarabic.glif</string>
    <key>shaddadammatanarabic</key>
    <string>shaddadammatanarabic.glif</string>
    <key>yehhamzaaboveinitialarabic</key>
    <string>yehhamzaaboveinitialarabic.glif</string>
    <key>dadinitialarabic</key>
    <string>dadinitialarabic.glif</string>
    <key>alefmaksurainitialarabic</key>
    <string>alefmaksurainitialarabic.glif</string>
    <key>alefmaksuramedialarabic</key>
    <string>alefmaksuramedialarabic.glif</string>
    <key>sadinitialarabic</key>
    <string>sadinitialarabic.glif</string>
    <key>pehinitialarabic</key>
    <string>pehinitialarabic.glif</string>
    <key>nonbreakingspace</key>
    <string>nonbreakingspace.glif</string>
    <key>vehinitialarabic</key>
    <string>vehinitialarabic.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>vehmedialarabic</key>
    <string>vehmedialarabic.glif</string>
    <key>vehfinalarabic</key>
    <string>vehfinalarabic.glif</string>
    <key>jehfinalarabic</key>
    <string>jehfinalarabic.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>lamalefisolatedarabic</key>
    <string>lamalefisolatedarabic.glif</string>
    <key>lamaleffinalarabic</key>
    <string>lamaleffinalarabic.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>lamalefhamzaabovefinalarabicX</key>
    <string>lamalefhamzaabovefinalarabicX_.glif</string>
    <key>lamalefhamzabelowisolatedarabi</key>
    <string>lamalefhamzabelowisolatedarabi.glif</string>
    <key>lamalefhamzabelowfinalarabicX</key>
    <string>lamalefhamzabelowfinalarabicX_.glif</string>
    <key>lamalefmaddaaboveisolatedarabi</key>
    <string>lamalefmaddaaboveisolatedarabi.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>percentarabic</key>
    <string>percentarabic.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>commaarabic</key>
    <string>commaarabic.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>zeroarabic</key>
    <string>zeroarabic.glif</string>
    <key>onearabic</key>
    <string>onearabic.glif</string>
    <key>twoarabic</key>
    <string>twoarabic.glif</string>
    <key>threearabic</key>
    <string>threearabic.glif</string>
    <key>fourarabic</key>
    <string>fourarabic.glif</string>
    <key>fivearabic</key>
    <string>fivearabic.glif</string>
    <key>sixarabic</key>
    <string>sixarabic.glif</string>
    <key>sevenarabic</key>
    <string>sevenarabic.glif</string>
    <key>eightarabic</key>
    <string>eightarabic.glif</string>
    <key>ninearabic</key>
    <string>ninearabic.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>semicolonarabic</key>
    <string>semicolonarabic.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>questionarabic</key>
    <string>questionarabic.glif</string>
    <key>asteriskarabic</key>
    <string>asteriskarabic.glif</string>
    <key>hamzaarabic</key>
    <string>hamzaarabic.glif</string>
    <key>alefmaddaabovearabic</key>
    <string>alefmaddaabovearabic.glif</string>
    <key>alefhamzaabovearabic</key>
    <string>alefhamzaabovearabic.glif</string>
    <key>wawhamzaabovearabic</key>
    <string>wawhamzaabovearabic.glif</string>
    <key>alefhamzabelowarabic</key>
    <string>alefhamzabelowarabic.glif</string>
    <key>yehhamzaabovearabic</key>
    <string>yehhamzaabovearabic.glif</string>
    <key>alefarabic</key>
    <string>alefarabic.glif</string>
    <key>beharabic</key>
    <string>beharabic.glif</string>
    <key>tehmarbutaarabic</key>
    <string>tehmarbutaarabic.glif</string>
    <key>teharabic</key>
    <string>teharabic.glif</string>
    <key>theharabic</key>
    <string>theharabic.glif</string>
    <key>jeemarabic</key>
    <string>jeemarabic.glif</string>
    <key>haharabic</key>
    <string>haharabic.glif</string>
    <key>khaharabic</key>
    <string>khaharabic.glif</string>
    <key>dalarabic</key>
    <string>dalarabic.glif</string>
    <key>thalarabic</key>
    <string>thalarabic.glif</string>
    <key>reharabic</key>
    <string>reharabic.glif</string>
    <key>zainarabic</key>
    <string>zainarabic.glif</string>
    <key>seenarabic</key>
    <string>seenarabic.glif</string>
    <key>sheenarabic</key>
    <string>sheenarabic.glif</string>
    <key>sadarabic</key>
    <string>sadarabic.glif</string>
    <key>dadarabic</key>
    <string>dadarabic.glif</string>
    <key>taharabic</key>
    <string>taharabic.glif</string>
    <key>zaharabic</key>
    <string>zaharabic.glif</string>
    <key>ainarabic</key>
    <string>ainarabic.glif</string>
    <key>ghainarabic</key>
    <string>ghainarabic.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>tatweelarabic</key>
    <string>tatweelarabic.glif</string>
    <key>feharabic</key>
    <string>feharabic.glif</string>
    <key>qafarabic</key>
    <string>qafarabic.glif</string>
    <key>kafarabic</key>
    <string>kafarabic.glif</string>
    <key>lamarabic</key>
    <string>lamarabic.glif</string>
    <key>meemarabic</key>
    <string>meemarabic.glif</string>
    <key>noonarabic</key>
    <string>noonarabic.glif</string>
    <key>heharabic</key>
    <string>heharabic.glif</string>
    <key>wawarabic</key>
    <string>wawarabic.glif</string>
    <key>alefmaksuraarabic</key>
    <string>alefmaksuraarabic.glif</string>
    <key>yeharabic</key>
    <string>yeharabic.glif</string>
    <key>fathatanarabic</key>
    <string>fathatanarabic.glif</string>
    <key>dammatanarabic</key>
    <string>dammatanarabic.glif</string>
    <key>kasratanarabic</key>
    <string>kasratanarabic.glif</string>
    <key>fathaarabic</key>
    <string>fathaarabic.glif</string>
    <key>dammaarabic</key>
    <string>dammaarabic.glif</string>
    <key>kasraarabic</key>
    <string>kasraarabic.glif</string>
    <key>shaddaarabic</key>
    <string>shaddaarabic.glif</string>
    <key>sukunarabic</key>
    <string>sukunarabic.glif</string>
    <key>peharabic</key>
    <string>peharabic.glif</string>
    <key>tcheharabic</key>
    <string>tcheharabic.glif</string>
    <key>veharabic</key>
    <string>veharabic.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>jeharabic</key>
    <string>jeharabic.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>hyphenminus</key>
    <string>hyphenminus.glif</string>
    <key>delete</key>
    <string>delete.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>allahisolated</key>
    <string>allahisolated.glif</string>
    <key>ornaterightparenthesis</key>
    <string>ornaterightparenthesis.glif</string>
    <key>ornateleftparenthesis</key>
    <string>ornateleftparenthesis.glif</string>
    <key>alefwithfathatanisolated</key>
    <string>alefwithfathatanisolated.glif</string>
    <key>alefwithfathatanfinal</key>
    <string>alefwithfathatanfinal.glif</string>
    <key>alefwaslafinal</key>
    <string>alefwaslafinal.glif</string>
    <key>alefwaslaisolated</key>
    <string>alefwaslaisolated.glif</string>
    <key>righttoleft</key>
    <string>righttoleft.glif</string>
    <key>lefttoright</key>
    <string>lefttoright.glif</string>
    <key>zerojoin</key>
    <string>zerojoin.glif</string>
    <key>zeronojoin</key>
    <string>zeronojoin.glif</string>
    <key>extendedarabicindicdigitnine</key>
    <string>extendedarabicindicdigitnine.glif</string>
    <key>extendedarabicindicdigiteight</key>
    <string>extendedarabicindicdigiteight.glif</string>
    <key>extendedarabicindicdigitseven</key>
    <string>extendedarabicindicdigitseven.glif</string>
    <key>extendedarabicindicdigitsix</key>
    <string>extendedarabicindicdigitsix.glif</string>
    <key>extendedarabicindicdigitfive</key>
    <string>extendedarabicindicdigitfive.glif</string>
    <key>extendedarabicindicdigitfour</key>
    <string>extendedarabicindicdigitfour.glif</string>
    <key>extendedarabicindicdigitthree</key>
    <string>extendedarabicindicdigitthree.glif</string>
    <key>extendedarabicindicdigittwo</key>
    <string>extendedarabicindicdigittwo.glif</string>
    <key>extendedarabicindicdigitone</key>
    <string>extendedarabicindicdigitone.glif</string>
    <key>extendedarabicindicdigitzero</key>
    <string>extendedarabicindicdigitzero.glif</string>
    <key>superscriptalef</key>
    <string>superscriptalef.glif</string>
    <key>maddaabove</key>
    <string>maddaabove.glif</string>
    <key>hamzaabove</key>
    <string>hamzaabove.glif</string>
    <key>hamzabelow</key>
    <string>hamzabelow.glif</string>
    <key>zerowidthnobreakspace</key>
    <string>zerowidthnobreakspace.glif</string>
    <key>_246</key>
    <string>_246.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>pehmedialarabic</key>
    <string>pehmedialarabic.glif</string>
    <key>tchehfinalarabic</key>
    <string>tchehfinalarabic.glif</string>
    <key>tchehmedialarabic</key>
    <string>tchehmedialarabic.glif</string>
    <key>tchehinitialarabic</key>
    <string>tchehinitialarabic.glif</string>
    <key>pehfinalarabic</key>
    <string>pehfinalarabic.glif</string>
  </dict>
</plist>
